<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">

    <div class="field">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" placeholder="Your name">
        @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
        <small class="error">Nombre obligatorio (mínimo 2 carácteres)</small>
        }
    </div>

    <div class="field">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="email@example.com">
        @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
        <small class="error">Por favor, escriba un email correcto.</small>
        }
    </div>

    <div class="field">
        <label for="message">Mensaje</label>
        <textarea id="message" formControlName="message" rows="5" placeholder="¿Como podemos ayudarle?"></textarea>
        @if (contactForm.get('message')?.invalid && contactForm.get('message')?.touched) {
        <small class="error">El mensaje tiene que tener al menos 10 caracteres.</small>
        }
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
</form>