@if (user$ | async; as user) {
<div class="user-card-container">
    <div class="card-header">
        <div class="avatar">{{ (user?.name || '')[0] }}</div>
        <div class="header-text">
            <h2>{{ user?.name }}</h2>
            <span class="username">{{ user?.username }}</span>
        </div>
    </div>

    <hr class="divider" />

    <div class="card-content">
        <div class="info-group">
            <label>Email</label>
            <p>{{ user?.email }}</p>
        </div>

        <div class="info-group">
            <label>Teléfono</label>
            <p>{{ user?.phone }}</p>
        </div>

        <div class="info-group">
            <label>Página Web</label>
            <p>
                <a [href]="'http://' + user?.website" target="_blank">{{ user?.website }}</a>
            </p>
        </div>

        @if (user?.company) {
        <div class="info-group">
            <label>Empresa</label>
            <p><strong>{{ user?.company?.name }}</strong></p>
            <small class="catch-phrase">"{{ user?.company?.catchPhrase }}"</small>
        </div>
        }

        @if (user?.address) {
        <div class="info-group">
            <label>Dirección</label>
            <p>
                <span>{{ user?.address?.street }}</span>, <span>{{ user?.address?.suite }}</span><br />
                <span>{{ user?.address?.city }}</span>, <span>{{ user?.address?.zipcode }}</span>
            </p>
        </div>
        }
    </div>
</div>
}
<button (click)="navigateBack()">Volver</button>