@if (users$ | async; as users) {
<table class="user-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th colspan="2">Links</th>
        </tr>
    </thead>
    <tbody id="user-table-body">
        @for (user of users; track user.id) {
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td><button (click)="openUserDetail(user.id)" style="cursor: pointer;">Modal</button></td>
            <td><button (click)="navigateToDetail(user.id)" style="cursor: pointer;">Página</button></td>
        </tr>
        } @empty {
        <tr>
            <td colspan="4">No se han encontrado usuarios.</td>
        </tr>
        }
    </tbody>
</table>
} @else {
<div class="loading-spinner">
    <p>Cargando usuarios...</p>
</div>
}

@if (showModal) {
<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">

        @if (selectedUser$ | async; as selectedUser) {
        <app-user-card [user]="selectedUser"></app-user-card>
        <button (click)="closeModal()">Cerrar</button>
        } @else {
        <p>Loading details...</p>
        }

    </div>
</div>
}