
h1{
    justify-self: center;
    color: var(--plexus-blue);
}
.card-container{
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}