.container{
    border: 2px solid var(--plexus-blue);
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

button {
    width: 100px;
    padding: 0.8rem;
    background-color: var(--plexus-blue);
    color: var(--plexus-white);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
    transition: background 0.2s ease;
    margin: 10px;
}

button:hover:not(:disabled) {
    background-color: var(--plexus-blue-hover);
}

.status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  background-color: gray; /* Default: Disconnected */
}

/* Dynamic Classes */
.status-indicator.connected {
  background-color: #2ecc71;
  box-shadow: 0 0 8px #2ecc71;
}

.status-indicator.connecting {
  background-color: #f1c40f;
  animation: pulse 1s infinite;
}

.status-indicator.disconnected {
  background-color: red;
  box-shadow: 0 0 8px red;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}